body {
background: linear-gradient(90deg, #0078b9 , #80379b );

}

h2{
    
    font-family:arial;
    font-size:24px;
    color:#f0e4e4;
    margin:0px;

}

p{
    color:white;
    line-height:15px;
}
  #logo {
  width:400px;
  margin:15px auto;
  padding:10px;
  }
  
 img {
    height: 138px;
    width: 400px;
     }

  #login-box{
    
     Width: 250px;
     height: 184px;
     background: rgba(255, 255, 255, 0.1);
     text-align:center;
     padding:35px;
     border-radius: 5px;
     margin:0px auto;
  
  }
  
 .button{
 
 font-family:arial;
 font-size:14px;
 color:#f0e4e4;
 padding:12px 15px;
 border-radius:5px;
 vertical-align:middle;
 width:auto;
 }
 

 
 #Sign-in{
 background:rgba(255,255,255,0.1);
  }
  
 #Sign-in:hover{
 background:rgba(255,255,255,0.4);
     
 }
 
  
  a {
  font-family:arial;
  font-size:13px;
  color:#f0e4e4;
  
  } 
  
   a:hover{
      text-decoration:underline !important;
  }
  
 
  
  #bottom-text{
    width:400px;
    height:27px;
    padding:10px;
    color:#f0e4e4;
    margin:0 auto;
    text-align:center;

  }
  
 
  

  